<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio </h1>

<b>Valluru Maheswar Reddy</b><br>
Student in JNTUA College Of Engineering, Anantapur

<i>I am interested in data science because I like making analysis on data.</i>

<h3>Square of a number</h3>

In [1]:
5**2

25

<ol>
    <li>Apple</li>
    <li>Orange</li>
    <li>Watermelon</li>
    <li>Banana</li>
    <li>Pomegranate</li>
</ol>

<table>
    <thead>
        <th>Subject</th>
        <th>Time</th>
    </thead>
    <tbody>
        <tr>
            <td>Mathematics</td>
            <td>10:30</td>
        </tr>
        <tr>
            <td>Data Science</td>
            <td>1:30</td>
        </tr>
    </tbody>

<a href= "https://twitter.com/">Click here</a> to go to twitter